.container-post {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 20px;
    flex-wrap: wrap;
}


.box-image {
    width: 500px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.box-image img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}


.box-comments {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    min-width: 400px;
}



.perfil {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #1b1b1b;
    padding-bottom: 10px;
    max-width: 600px;
    position: relative;
}

.buttonMore{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    color: rgb(173, 173, 173);
}
.menuMore{
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    right: 10px;
    background-color: #000;
    border: 1px solid rgb(71, 71, 71);
    width: 200px;
    padding: 10px;
    border-radius: 8px;
}

.openMenuMore{
    display: flex;
}

.menuMore a{
    text-decoration: none;
    color: rgb(211, 211, 211);
    font-size: 14px;
}


.image-perfil img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.box-user {
    padding-top: 10px;
}



.box-user a{
    text-decoration: none;
    color: white;
}

.box-user h3{
    display: flex;
    align-items: center;
    gap: 5px;
}

.verify{
    width: 20px;
    height: 20px;
    padding: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a83a1;
    border-radius: 100%;

}

.box-user p {
    color: rgb(128, 127, 127);
}

.desc {
    max-width: 600px;
    height: 490px;
    overflow: auto;
    padding-bottom: 40px;
}


.desc::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}


.desc::-webkit-scrollbar-track {
    border-radius: 10px;
}

.desc::-webkit-scrollbar-thumb {
    background: #4b4b4b;
    border-radius: 10px;
}

.desc::-webkit-scrollbar-thumb:hover {
    background: #4b4b4b;
}




.perfil-desc {
    border-bottom: 1px solid #1b1b1b;
    max-width: 600px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.perfil-desc {
    display: flex;
}

.box-user-desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.box-user-desc a{
    text-decoration: none;
    color: white;
}

.box-user-desc h3{
    display: flex;
    align-items: center;
    gap: 5px;
}



.box-user-desc p {
    color: rgb(128, 127, 127);
    font-size: 18px;
}


.image-perfil-desc img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}





.comment {
    position: relative;
    display: flex;
    margin-top: 30px;
    gap: 5px;
}

.comment p {
    color: rgb(128, 127, 127);
}

.content a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.content a h3{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.emptyComment{
    color: rgb(99, 99, 99);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.img-perfil-comment img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


.comment-form{
    flex: 1;
    margin-top: 10px;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment-form button{
    background-color: #0a83a1;
    border: none;
    width: 60px;
    height: 50px;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}
.comment-form button:hover{
    background-color: #154450;
}

.form-mobile{
    display: none;
}

.comment-textarea{
    resize: none;
    flex: 1;
    height: 50px;
    outline: none;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.4;
    border: none;
    border-radius: 8px;
    background-color: rgb(31, 31, 31);
    color: white;
}


.comment-textarea::-webkit-scrollbar {
    width: 8px; 
}


.comment-textarea::-webkit-scrollbar-track {
    background: #000;
    border-radius: 8px;
}


.comment-textarea::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 8px;
    border: 2px solid #000; 
}

.comment-textarea::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}



@media(max-width: 1180px){
    .box-comments {
        max-width: 500px;
        overflow: auto;
        min-height: 100%;
    }

    .desc {
        height: 100%;
    }

    .form-desktop{
        display: none;
    }

    .form-mobile{
        display: flex;
        margin-bottom: 20px;
    }
}