* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


:root {
    --primary-color: #000000;
    --button-color: #0a83a1;
    --text-color: rgb(255, 255, 255);
    --text-color-secondary: rgb(121, 120, 120);
}



body {
    background-color: var(--primary-color);
    color: var(--text-color);
}


.container {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    overflow: hidden;
    max-width: 2000px;
    margin: auto;
}


header {
    display: none;
    position: absolute;
    top: 0px;
    height: 50px;
    background-color: var(--primary-color);
    font-size: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #0a0a0a;
}


#btnNotifDesktop i,
#btnNotifMobile i {
    position: relative;
}


#btnNotifMobile i span,
#btnNotifDesktop i span {
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 7px;
    height: 7px;
    border-radius: 30px;
    background-color: aqua;
}


.menu-mobile {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    display: none;
    z-index: 1000;
}

.box-menu-mobile {
    background-color: #000000;
    border-top: 1px solid #0a0a0a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 23px;
}


.box-menu-mobile a {
    text-decoration: none;
    color: white;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.menu-deslog {
    height: 120px;
    display: none;
    align-items: center;
    justify-content: center;
}

.aviso-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.aviso-login h3 {
    font-size: 14px;
    text-align: center;
    max-width: 80%;
}

.nav .aviso-login .buttonEntrar,
.menu-mobile .box-menu-mobile .aviso-login .buttonEntrar {
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    width: 90px;
    height: 35px;
    background-color: #0a83a1;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-menu-mobile .select {
    background-color: #0a83a1;
}




.menu {
    height: 100vh;
    width: 240px;
    border-right: 1px solid #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.menu .logo {
    padding-top: 70px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.menu .logo img {
    width: 100%;
}

.menu .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu .nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    padding: 10px 0px 10px 10px;
    width: 170px;
    border-radius: 3px;
    cursor: pointer;
}

.menu .nav .select {
    background-color: #0a83a1;
}

.menu .nav a:hover {
    background-color: #02242c;
}

.menu .nav a i {
    padding-right: 5px;
}






main {
    background-color: #000000;
    flex: 1;
    overflow-y: auto;
    padding-top: 50px;
    position: relative;
}

main::-webkit-scrollbar {
    width: 8px;
    /* largura da barra */
}

main::-webkit-scrollbar-track {
    background: #111;
    /* cor do fundo da barra */
}

main::-webkit-scrollbar-thumb {
    background-color: #0a83a1;
    /* cor do "botão" */
    border-radius: 4px;
    border: 1px solid #0a83a1;
    /* opcional: borda */
}

main::-webkit-scrollbar-thumb:hover {
    background-color: #666;
    /* cor ao passar o mouse */
}








/* ===== ESTILO DO MENU LATERAL ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    /* começa fora da tela */
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: #000000;
    border-right: 1px solid rgb(37, 37, 37);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1999;
    padding: 20px;
    overflow: auto;
    padding-bottom: 40px;
}

.sidebar::-webkit-scrollbar {
    background-color: #000000;
    width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #0a83a1;
    border-radius: 10px;
}


.sidebar.active {
    left: 0;
}


.sidebar .close-btn {
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
    font-size: 1.3em;
    color: #7c7c7c;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1998;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}



.header-sidebar {
    font-size: 14px;
    color: var(--text-color);
    padding-top: 5px;
    height: 50px;
    border-bottom: 1px solid rgb(37, 37, 37);
    margin-bottom: 40px;
}

.newNotification {
    margin-bottom: 40px;
    padding-bottom: 50px;
}

.newNotification h4,
.readNotification h4 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(37, 37, 37);
}

.newNotification h4 .circle {
    display: block;
    margin-top: 3px;
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background-color: #0a83a1;
}

.notification {
    padding: 15px;
    border-bottom: 1px solid rgb(37, 37, 37);
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    position: relative;
}

.notification a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.notification .button-follow-notification {
    position: absolute;
    right: 10px;
}





.button-recusar-notification {
    position: absolute;
    right: 76px;
}

.button-aceitar-notification {
    position: absolute;
    right: 10px;
}

.button-recusar-notification a {
    text-decoration: none;
    background-color: rgb(46, 46, 46);
    color: var(--text-color);
    padding: 5px 6px;
    border-radius: 3px;
    font-size: 15px;
}

.button-aceitar-notification a {
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 5px 6px;
    border-radius: 3px;
    font-size: 15px;
}




.notification .button-follow-notification a {
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 5px 16px;
    border-radius: 3px;
    font-size: 15px;
}

.notification .button-follow-notification .sg{
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgb(68, 68, 68);
    color: var(--text-color);
    padding: 5px 16px;
    border-radius: 3px;
    font-size: 15px;
}

.notification img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
    vertical-align: middle;
}

.notification p {
    max-width: 200px;
    margin-right: 90px;
}







@media (max-width: 990px) {
    .menu {
        display: none;
    }

    header {
        display: flex;
        z-index: 300;
    }


    .menu-mobile {
        display: block;
    }

    .menu-deslog {
        display: flex;
    }

    .main {
        max-height: none;
        width: 100%;
        padding-top: 90px;
        padding-bottom: 60px;
    }


}

@media (max-width: 438px) {
    .notification .paragraf {
        max-width: 160px;
        margin-right: 90px;
    }
}